<!doctype html>
<html>
<head>
	<%- include("../fragmente/head.ejs") %>
	<title>404</title>
</head>
<body>

<%- include("../fragmente/header.ejs") %>
abc
<main>
	<h2>Pagina produsului</h2>
    <p>Nume din pag_produs :<%= locals.produs_unic.nume  %></p>
	<%- include("../fragmente/produs.ejs", {produs:locals.produs_unic}) %>

</main>

<%- include("../fragmente/footer.ejs") %>
</body>
</html>