<!doctype html>
<html>
<head>
	<%- include("../fragmente/head.ejs") %>
	<title>404</title>
</head>
<body>

<%- include("../fragmente/header.ejs") %>
abc
<main>
	<h2>Produse</h2>
	<p>a: <%= locals.param_a %></p>
	<p>a: <%= locals.param_a+1000 %></p>
	
	<p>b: <%= parseInt(locals.param_b)+11 %></p>
	<% for(let i=0; i<locals.produse.length; i++) { %>
		<%- include("../fragmente/produs.ejs", {produs:locals.produse[i]}) %>
	<% } %>
</main>

<%- include("../fragmente/footer.ejs") %>
</body>
</html>